:root {
  --icon-color: #4d4d4d;
  --text-color: #757575;
}

html {
  scroll-behavior: smooth !important;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

body {
  max-width: 638px;
  margin: auto;
  box-sizing: border-box;
  background-color: #fdfdfd;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }
}

::-webkit-scrollbar {
  display: none;
}
