:root {
  --icon-color: var(--color7);
  --text-color: #757575;
  --color1: #fff;
  --color2: #f5f5f5;
  --color3: #e3e3e3;
  --color4: #eee;
  --color5: #ccc;
  --color6: #888;
  --color7: #3c3c3c;
  --color8: #2e2e2e;
  --color9: #212121;
  --color10: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --icon-color: var(--color6);
  }
}

html {
  scroll-behavior: smooth !important;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: auto;
  box-sizing: border-box;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color9);
  }
}

::-webkit-scrollbar {
  display: none;
}
