.notes {
  margin: 64px 64px 32px 64px;
}

.form {
  display: flex;
  margin: 0px 0px 32px 0px;
}

.textarea {
  background: rgba(0, 16, 61, 0.04);
  border: 1px solid #ececec;
  border-radius: 24px;
  font-family: inherit;
  font-size: 16px;
  padding: 12px 24px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 150px;
  transition: 0.3s ease-out;
}

.textarea:focus {
  background-color: white;
  box-shadow: 0px 8px 31px #00000050;
  transition: 0.3s ease-in;
  transform: translateY(-3px);
}

.note {
  position: relative;
  background: rgba(0, 16, 61, 0.04);
  border: 1px solid #ececec;
  border-radius: 24px;
  padding: 12px 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
  margin-bottom: 12px;
}

.text {
  color: #4d4d4d;
}

.delete {
  position: absolute;
  border-radius: 999px;
  top: 12px;
  right: 16px;
  padding: 3px 5px 0px 5px;
  cursor: pointer;
  transition: 0.3s step-start;
}

@media (prefers-color-scheme: dark) {
  .textarea {
    background: #141414;
    border: 1px solid#1c1c1c;
    color: white;
  }

  .textarea:focus {
    background: #333;
    border-color: #424242;
  }

  .note {
    background: #141414;
    border: 1px solid#1c1c1c;
  }

  .text {
    color: #4d4d4d;
  }
}
