.notes {
  margin: 64px auto;
}

/* Form Styles */
.form {
  display: flex;
  margin: 0px 0px 32px 0px;
}

/* Common styles for textarea and note */
.textarea,
.note {
  background: #f4f4f4;
  border: none !important;
  border-radius: 24px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  box-sizing: border-box;
  min-width: 100%;
}

.textarea {
  outline: none;
  min-height: 150px;
}

.note {
  position: relative;
  padding: 20px 24px;
  margin-bottom: 12px;
  overflow-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease, z-index 0s ease 0s;
  z-index: 1;
}

/* Text Styles */
.text {
  margin-right: 64px;
  outline: none;
}

.text,
.empty {
  color: var(--text-color);
  font-weight: 500;
}

/* Delete Button */
.delete {
  position: absolute;
  border-radius: 999px;
  top: 12px;
  right: 12px;
  padding: 3px 5px 0px 5px;
  cursor: pointer;
}

.delete:hover {
  background-color: #ececec;
}

.note:hover .delete {
  display: block;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  z-index: 10;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

/* Note Editing State */
.note.editing {
  position: relative;
  transform: translateY(-20px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  z-index: 20;
}

/* Visibility Classes */
.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

/* Footer */
.footer {
  margin: 64px 64px;
  padding-bottom: 64px;
  padding-right: 64px;
  border-radius: 12px;
  display: flex;
}

/* Back to Top Button */
.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid #e8e8e8;
  border-radius: 999px;
  background-color: #e8e8e8;
  opacity: 0;
  transform: translateY(35px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.back-to-top.show {
  opacity: 1;
  transform: translateY(0);
}

.back-to-top:hover {
  background-color: #e8e8e8;
  border: 1px solid #ececec;
  transform: translateY(-5px);
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  .textarea,
  .note {
    background-color: var(--color8);
  }

  .textarea {
    color: #e4e4e4;
  }

  .text {
    color: #ccc;
  }

  .delete:hover {
    background-color: var(--color7);
  }

  .back-to-top {
    background-color: #292929;
    border: 1px solid #292929;
  }

  .back-to-top:hover {
    background-color: #313131;
    border: 1px solid #424242;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.7);
  }

  .note.editing {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  }
}
